@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");

* {
  box-sizing: border-box;
  font-family: "Titillium Web", sans-serif;
  margin: 0;
}

body {height: 2000px;}
/* HEADER START */
.header {
  background-color: #fff;
  display: flex;
  height: 88px;
  position: fixed;
  width: 100%;
}

.burger {
  border-radius: 100%;
  cursor: pointer;
  height: 40px;
  left: 6.1%;
  padding-top: 7px;
  position: relative;
  text-align: center;
  top: 36%;
  width: 40px;
}

.burger:hover {background-color: #f5f5f5;}

.nav-side {
  background-color: #fff;
  height: 100%;
  left: -25.2%;
  position: fixed;
  top: 0;
  transition: margin-left .25s;
  width: 25.2%;
  z-index: 2;
}

.nav-show {margin-left: 25.2%;}

.hdr-body {
  border-bottom: 1px solid #dfdfdf;
  height: 100%;
  margin-left: 8.9%;
  width: 84%;
}

.hdr-item {
  display: flex;
  height: 100%;
  justify-content: space-between;
}

.logo {
  border: 1px solid;
  height: 58%;
  position: relative;
  top: 20px;
  width: 90px;
}

.sec-src {
  height: 58%;
  left: 1.4%;
  position: relative;
  width: 73%;
}

.src-icon {
  cursor: text;
  left: 2.5%;
  position: relative;
  top: 75%;
  z-index: 4;
}

.src-inp {
  background-color: #f5f5f5;
  border: none;
  border-radius: 55px;
  font-size: 17px;
  height: 100%;
  outline: none;
  padding-left: 4.25%;
  padding-right: 4.25%;
  position: relative;
  width: 100%;
  z-index: 3;
}

.src-inp:hover {background-color: #dcdcdc;}

.src-inp:focus {background-color: #fff;}

.sec-log {
  background-color: #fff;
  border: none;
  cursor: pointer;
  font-size: 17px;
  height: 58%;
  left: 1%;
  position: relative;
  top: 25%;
}

.user-icon {
  border-radius: 100%;
  height: 40px;
  padding: 12px;
  width: 40px;
}

.sec-fav {
  border-radius: 100%;
  cursor: pointer;
  height: 40px;
  width: 40px;
  text-align: center;
  padding-top: 8px;
  position: relative;
  top: 30%;
}

.sec-fav:hover {background-color: #f5f5f5;}

.sec-gem {
  border-radius: 100%;
  cursor: pointer;
  height: 40px;
  width: 40px;
  text-align: center;
  padding-top: 8px;
  position: relative;
  top: 30%;
}

.sec-gem:hover {background-color: #f5f5f5;}
/* HEADER END - SEARCH DROP START*/
.src-drp {
  background-color: #f5f5f5;
  border-radius: 6px;
  bottom: 127%;
  display: none;
  height: 1825%;
  position: relative;
  right: 1.5%;
  width: 102.5%;
  z-index: 2;
}

.drp-shw {display: block;}

.drp-srs {
  background-color: #fff;
  border-radius: 8px;
  height: 29.55%;
  left: 2.25%;
  position: relative;
  top: 8.9%;
  width: 95.6%;
}

.srs-div {
  height: 90%;
  margin: auto;
  position: relative;
  top: 4%;
  width: 97.5%;
}

.srs-hdr {
  font-size: large;
  font-weight: 700;
}

.srs-lnk {
  height: 89%;
  width: 100%;
}

.srs-items {
  cursor: pointer;
  padding-top: 11px;
  width: 20%;
}

.srs-items:hover {text-decoration: underline;}

.srs-icn {margin-right: 8%;}

.drp-sls {
  border-radius: 8px;
  display: flex;
  height: 56.7%;
  justify-content: space-between;
  left: 2.25%;
  position: relative;
  top: 10.6%;
  width: 95.6%;
}

.drp-itm {
  background-color: #fff;
  border-radius: 8px;
  width: 24.4%;
}

.drs-p {
  height: 80%;
  left: 6%;
  position: relative;
  top: 4%;
  width: 88%;
}

.drs-ph {
  border: 1px solid green;
  cursor: pointer;
  height: 60%;  
  position: relative;
  top: 7%;
  width: 100%;
}

.dpp-cpt {
  cursor: pointer;
  height: 23.5%;
  position: relative;
  top: 8.75%;
}

.dcp-hdr {
  font-size: 16px;
  font-weight: bolder;
}

.dcp-p {
  font-size: 15px;
  position: relative;
  top: 2%;
}

.dcp-prc {
  height: 40%;
  font-size: 21px;
  font-weight: 700;
  position: relative;
  top: 9%;
}

.dcp-icon {
  display: flex;
  height: 40px;
  position: relative;
  top: 7.5%;
  width: 100%;
}

.dcp-gem {
  background-color: #0058a3;
  border-radius: 100%;
  color: #fff;
  cursor: pointer;
  height: 100%;
  padding-top: 7px;
  text-align: center;
  width: 40px;
}

.dcp-gem:hover{background-color: #004f93;}

.dcp-hrt {
  cursor: pointer;
  left: 9%;
  position: relative;
  top: 22%;
}
/* SEARCH DROP END - MAIN START */
main {
  border: 1px solid;
  height: 625px;
  left: 11.1%;
  position: relative;
  top: 5.2%;
  width: 84%;
}
/* MAIN END */
footer {
  background-color: #f5f5f5;
  height: 691px;
  position:relative;
  top: 100%;
  width: 100%;
  z-index: -1;
}